In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./company_dinner_raw_data.csv')
data.head()

  Store_name     Date                                 Review  Photo
0  백억하누 강남본점  22.1.11     너무 이쁘고 깔끔하게 잘 해놨네요 웃음 고기도 너무 맛있습니다    1.0
1  백억하누 강남본점  22.1.11            소고기 너무 맛나요~하트 인테리어, 분위기 좋네요    1.0
2  백억하누 강남본점  22.1.11                        코시국에 룸이 있어 좋습니다    0.0
3  백억하누 강남본점  22.1.11            오늘 저녁은~~투뿔한우로!!! 찐 맛집입니다 웃음    1.0
4  백억하누 강남본점  22.1.11  룸이 겸비해서 있어 코로나로 부터 안전하게 먹을 수 있어 만족합니다    0.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8951 entries, 0 to 8950
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Store_name  8951 non-null   object
 1   Date        8951 non-null   object
 2   Review      8798 non-null   object
 3   Photo       8938 non-null   float64
dtypes: float64(1), object(3)
memory usage: 279.8+ KB